*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    /*padding-left: 30px;*/
    /*padding-top: 15px;*/
    padding: 15px;
    background-color: white;
    height: 100px;
    float: left;
    width: 1300px;
    opacity: 0.9;
}
header{
    background-image: url("../imgs pr5/alessi-main-background.jpg");
    width: 1280px;
    height: 800px;
    float: left;
}
.top-links li{
    list-style: none;
    float: left;
    margin-right: 20px;
}
a{
    color: #3c763d;
}
.top-links{
    float: left;
    /*padding: 20px;*/
    padding-right: 20px;
    padding-top: 20px;
}
.social-menu{
    margin: 15px;
    float: left;
}
.social-menu li{
    list-style: none;
    float: left;
    margin-right: 20px;
}
.oder-online{
    background-image: url("../imgs pr5/order-now-btn.png");
    display: table-cell;
    width: 198px;
    height: 52px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}
.slider{
    position: relative;
    z-index: 2;
    margin-top: -75px;
    display: block;
}
.row-slider{
    margin-right: -15px;
    margin-left: -15px;
    margin: 0 auto;
    width: 99%;
}
/*.ss{*/
/*    content: "";*/
/*    background-image: url("../imgs pr5/pentagon-top-border.png");*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: -26px;*/
/*    height: 26px;*/
/*    width: 100%;*/
/*    left: 0;*/
/*    z-index: 1;*/
/*    background-size: 100% 100%;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    color: #3c763d;*/
/*}*/
.col-md-6{
    float: left;
}